.root2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  padding-right: 0px;
  min-width: 0;
  min-height: 0;
}
.freeBox {
  display: block;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  padding: 8px;
}
.text {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: 413px;
  top: 34.046875px;
  min-width: 0;
}
.fetcher:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
}
